<div class="breadcrumb-settings-form">
  <p>{{ 'A breadcrumb trail is a navigation aid used for web interfaces. It allows visitors to keep track of their locations within sections your site, displaying links above the main content region that lead back to the home page and to the parent pages of the current page.'|t }}</p>
  <p>{{ 'i.e.' }} <strong><a name="breadcrumbs" href="#breadcrumbs">{{ 'Home'| t }}</a> / <a href="#breadcrumbs"> {{ 'About'|t }}</a> / <a href="#breadcrumbs"> {{ 'Contact'|t }} </a></strong></p>
  {{ form }}
  <a href="https://help.theopenscholar.com/enable-breadcrumbs" target="_blank">{{ 'Learn more about breadcrumbs' | t }}</a>
</div>