<p>Buttons</p>
<img src="/{{ image_base_path }}/addthis_button.png" />
<p>Toolbox small</p>
<img src="/{{ image_base_path }}/addthis_sm.png" />
<p>Toolbox large</p>
<img src="/{{ image_base_path }}/addthis_lg.png" />
<p>Numeric</p>
<img src="/{{ image_base_path }}/addthis_numbers.gif" />
<p>Counter</p>
<img src="/{{ image_base_path }}/addthis_counter.png" />
